{% extends "base.html" %}

{% block content %}
    <!-- Message -->
    <tr class="tr-reset-password-message">
        <td>
            <p>
                We received a request to reset your password. Click the button below to change your password. If you did
                not make this request, you can safely ignore this email.
            </p>
    </tr>

    <!-- Link -->
    <tr class="tr-reset-password-link">
        <td>
            <a class="button" href="{{ reset_link }}">Reset Password</a>
        </td>
    </tr>
{% endblock %}
