# Run GitHub Actions locally with https://github.com/nektos/act.
# Copy this file to .secrets to run act with secrets.

# Dev
AZURE_PROJECT_PATH_DEV=
AZURE_HOST_DEV=
AZURE_USER_DEV=
AZURE_KEY_DEV=
DATABASE_URL_DEV=

# Prod
AZURE_PROJECT_PATH_PROD=
AZURE_HOST_PROD=
AZURE_USER_PROD=
AZURE_KEY_PROD=
DATABASE_URL_PROD=

# Token
PAT_TOKEN=
